@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em
}

html, body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    height: 285px;
    text-align: center;
    color: white;
}

header > h1 {
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
    font-family: var(--fonte2);
}
header > p {
    padding-bottom: 50px;
    
}
.link {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.link:hover {
    text-decoration: underline;
}


section {
    width: 97vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-size: 3.5vw;
    font-family: var(--fonte3);
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
    box-shadow: black 1px 1px 6px;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    display: inline-block;
    padding: 5px;
}

#flor {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#carta {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

